.App {
  text-align: center;
}

.sock--left {
  animation: sock-left-spin infinite 20s linear;
  height: 40px;
  padding: 20px;
}

.sock--right {
  animation: sock-right-spin infinite 20s linear;
  height: 40px;
  padding: 20px;
}

i.material-icons {
  font-size: 18px;
  cursor: pointer;
}

input {
  font-size: 20px;
  border: none;
  text-align: center;
  background-color: inherit;
}

.list {
  background-color: rgba(0, 0, 0, .05);
}

.App-header {
  background-color: #ffffff;
  height: 150px;
  padding: 20px;
  color: black;
  height: auto;
}

.App-title {
  font-size: 2em;
}

button, input[type="file"] button {
  background-color: white;
  color: black;
  margin: 5px 0px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

@keyframes sock-left-spin {
  from { transform: rotate(0deg) scaleX(-1); }
  to { transform: rotate(360deg) scaleX(-1); }
}

@keyframes sock-right-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
